*{
    margin: 5px;
    padding: 10px;
    
}
.error{
    color: red;
  }
  .page{
    background-color: aqua;
    text-align: left;
  }
  .form{
    text-align: left;
    color:rgb(7, 7, 240);
    /* text-transform: uppercase; */
  }